In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
df = pd.read_csv("Resources/LoanStats_2019Q1.csv", skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [6]:
# Encoding the strings into numerical data 
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df.copy()
for col in columns: 
    df2[col] = le.fit_transform(df2[col]) 
df2.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,348,24,3500,3,2978,1,2,1,0,2590,...,285,155,0,0,11675,19018,19,27490,0,0
1,886,28,7846,1,4688,2,2,1,0,1889,...,331,101,1,0,39916,30368,412,21865,0,0
2,703,28,4973,1,2339,2,2,1,0,2292,...,142,101,0,0,10267,23239,75,18964,0,0
3,329,22,3251,3,4252,2,2,1,0,3010,...,409,101,1,0,19544,33595,197,32527,0,0
4,775,18,4894,1,2073,0,2,1,0,1742,...,409,0,0,0,34824,11407,276,6250,0,0

In [7]:
# Dropping columns that have a sum equal to zero 
df3 = df2.copy()
for col in df2.columns: 
    if df2[col].sum() == 0:
        df3 = df3.drop([col], axis = 1)
    else:
        df3 = df3
        
df3.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,dti,delinq_2yrs,...,num_sats,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,348,24,3500,3,2978,1,2,1,2590,0,...,6,0,3,285,155,0,11675,19018,19,27490
1,886,28,7846,1,4688,2,2,1,1889,0,...,15,0,6,331,101,1,39916,30368,412,21865
2,703,28,4973,1,2339,2,2,1,2292,0,...,6,0,4,142,101,0,10267,23239,75,18964
3,329,22,3251,3,4252,2,2,1,3010,0,...,8,0,1,409,101,1,19544,33595,197,32527
4,775,18,4894,1,2073,0,2,1,1742,0,...,12,0,1,409,0,0,34824,11407,276,6250

In [8]:
# Create our features
X = df3.copy()
X = X.drop(["loan_status"], axis=1)
# Create our target
y = df3['loan_status']
X.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,dti,delinq_2yrs,inq_last_6mths,...,num_sats,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,348,24,3500,3,2978,1,2,2590,0,0,...,6,0,3,285,155,0,11675,19018,19,27490
1,886,28,7846,1,4688,2,2,1889,0,0,...,15,0,6,331,101,1,39916,30368,412,21865
2,703,28,4973,1,2339,2,2,2292,0,0,...,6,0,4,142,101,0,10267,23239,75,18964
3,329,22,3251,3,4252,2,2,3010,0,1,...,8,0,1,409,101,1,19544,33595,197,32527
4,775,18,4894,1,2073,0,2,1742,0,1,...,12,0,1,409,0,0,34824,11407,276,6250

In [9]:
X.describe()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,dti,delinq_2yrs,inq_last_6mths,...,num_sats,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,572.296903,12.982577,4126.615168,1.812779,3294.087856,0.669994,0.805542,1962.376855,0.217722,0.497697,...,10.571690,0.052124,2.219408,367.820219,57.069314,0.125972,27710.412107,24184.046704,295.617696,19966.952715
std,375.779218,9.508701,2367.621789,0.941313,1574.576387,0.719105,0.714932,971.922012,0.717338,0.758122,...,6.018596,0.389984,1.897307,67.053040,55.878931,0.336732,17546.728857,14497.653994,257.292302,13661.709989
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,289.000000,5.000000,2153.000000,1.000000,1930.000000,0.000000,0.000000,1255.000000,0.000000,0.000000,...,6.000000,0.000000,1.000000,347.000000,0.000000,0.000000,12014.000000,11764.000000,116.000000,7895.000000
50%,516.000000,11.000000,3828.000000,1.000000,3365.000000,1.000000,1.000000,1842.000000,0.000000,0.000000,...,9.000000,0.000000,2.000000,409.000000,48.000000,0.000000,26735.000000,23056.000000,221.000000,18429.000000
75%,848.000000,20.000000,5967.000000,3.000000,4665.000000,1.000000,1.000000,2532.000000,0.000000,1.000000,...,14.000000,0.000000,3.000000,409.000000,101.000000,0.000000,42861.000000,36149.000000,393.000000,31243.000000
max,1397.000000,51.000000,8809.000000,3.000000,6089.000000,2.000000,2.000000,5695.000000,17.000000,5.000000,...,62.000000,17.000000,18.000000,409.000000,155.000000,4.000000,59628.000000,51997.000000,1715.000000,46898.000000

In [11]:
# Check the balance of our target values
y.value_counts()

1    68470
0      347
Name: loan_status, dtype: int64

In [12]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [13]:
# Resample the training data with the RandomOversampler
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brf.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [14]:
# Use the fitted model to predict the y_values 
y_pred = brf.predict(X_test)

In [15]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.7618749363243154

In [16]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   67,    34],
       [ 2388, 14716]], dtype=int64)

In [17]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.03      0.66      0.86      0.05      0.76      0.56       101
          1       1.00      0.86      0.66      0.92      0.76      0.58     17104

avg / total       0.99      0.86      0.66      0.92      0.76      0.58     17205

In [20]:
# List the features sorted in descending order by feature importance
sorted(zip(brf.feature_importances_, X.columns), reverse=True)

[(0.08936301098002732, 'total_rec_prncp'),
 (0.06831186262447489, 'total_pymnt'),
 (0.0615664022165445, 'total_pymnt_inv'),
 (0.04839430552856122, 'last_pymnt_amnt'),
 (0.04015948267249044, 'total_rec_int'),
 (0.03315093447793416, 'int_rate'),
 (0.024768318529034095, 'issue_d'),
 (0.020491469473508134, 'installment'),
 (0.020399644442287618, 'out_prncp_inv'),
 (0.019554924623356264, 'dti'),
 (0.018927067133435692, 'mths_since_recent_inq'),
 (0.01765298593112026, 'out_prncp'),
 (0.017278786116600792, 'max_bal_bc'),
 (0.016552216531031994, 'bc_util'),
 (0.016152158858577837, 'total_bc_limit'),
 (0.015916728644445505, 'revol_bal'),
 (0.015283155008797806, 'mo_sin_old_rev_tl_op'),
 (0.014671826780542867, 'annual_inc'),
 (0.014444342615065255, 'tot_hi_cred_lim'),
 (0.013999920994711994, 'total_il_high_credit_limit'),
 (0.013933462503523803, 'mths_since_rcnt_il'),
 (0.01387867095321919, 'total_bal_il'),
 (0.013710656969249762, 'mths_since_recent_bc'),
 (0.013695864698483207, 'avg_cur_bal'),
 (0.013457552140160464, 'all_util'),
 (0.013119393139273072, 'mo_sin_old_il_acct'),
 (0.012309247215067964, 'bc_open_to_buy'),
 (0.011973912214896569, 'il_util'),
 (0.011808079918458529, 'num_rev_accts'),
 (0.011805991579169107, 'total_rev_hi_lim'),
 (0.0116979623067408, 'total_acc'),
 (0.011483643607696749, 'total_bal_ex_mort'),
 (0.011380691873049641, 'loan_amnt'),
 (0.011314168661754853, 'tot_cur_bal'),
 (0.010190827132355593, 'mo_sin_rcnt_rev_tl_op'),
 (0.00988401605547547, 'num_rev_tl_bal_gt_0'),
 (0.009207140971731153, 'acc_open_past_24mths'),
 (0.009150913550466102, 'open_acc'),
 (0.008751037767643082, 'num_bc_tl'),
 (0.008715500702251236, 'num_sats'),
 (0.008694902376816057, 'mo_sin_rcnt_tl'),
 (0.00866818751867041, 'inq_last_12m'),
 (0.008424836504602877, 'num_il_tl'),
 (0.00836967056822422, 'open_il_24m'),
 (0.008318963765349985, 'num_actv_rev_tl'),
 (0.007805318074154074, 'open_acc_6m'),
 (0.007686081946135594, 'num_op_rev_tl'),
 (0.007637296227402887, 'inq_fi'),
 (0.007580564417811361, 'num_bc_sats'),
 (0.007490882038111698, 'num_actv_bc_tl'),
 (0.007278055509922575, 'num_tl_op_past_12m'),
 (0.007097084024497967, 'open_act_il'),
 (0.0068487480440629425, 'percent_bc_gt_75'),
 (0.006835040364942087, 'total_rec_late_fee'),
 (0.0066295213235595, 'pct_tl_nvr_dlq'),
 (0.005942872007809312, 'inq_last_6mths'),
 (0.005877501395300062, 'mort_acc'),
 (0.005801590276374729, 'next_pymnt_d'),
 (0.005791656089307499, 'open_rv_24m'),
 (0.005493775309591553, 'open_il_12m'),
 (0.005469188452876951, 'total_cu_tl'),
 (0.005256956377452485, 'verification_status'),
 (0.0048981447738022385, 'delinq_2yrs'),
 (0.004809803211424604, 'open_rv_12m'),
 (0.003580398025951344, 'tot_coll_amt'),
 (0.00299089127557669, 'num_accts_ever_120_pd'),
 (0.002924668259672057, 'home_ownership'),
 (0.0018113393925878892, 'pub_rec_bankruptcies'),
 (0.0015919234052002983, 'application_type'),
 (0.0015527018238928887, 'initial_list_status'),
 (0.0013810896532821311, 'pub_rec'),
 (0.0005533878951096729, 'num_tl_90g_dpd_24m'),
 (0.00034400301363046157, 'collections_12_mths_ex_med'),
 (5.467851367796355e-05, 'chargeoff_within_12_mths'),
 (0.0, 'delinq_amnt')]

### Easy Ensemble AdaBoost Classifier

In [21]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
eec_model = EasyEnsembleClassifier(n_estimators = 500, random_state = 1)
eec_model.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=500, random_state=1)

In [ ]:
# Use the fitted model to predict the y_values 
y_pred = eec_model.predict(X_test)

In [ ]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

In [ ]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

In [ ]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))